priority -20

snippet [ "" i
[$1]
endsnippet

snippet ( "" i
($1)
endsnippet

snippet { "" i
{$1}
endsnippet

snippet ' "" i
'$1'
endsnippet

snippet " "" i
"$1"
endsnippet

snippet ` "" i
\`$1\`
endsnippet
