# variables = {
snippet var
var $1 = $2
endsnippet

snippet let
let $1 = $2
endsnippet

snippet const
const $1 = $2
endsnippet
# }

# imports {
snippet import
import $1 from '$2'
endsnippet

snippet import{
import { $1 } from '$2'
endsnippet

snippet require
const $1 = require('$2')
endsnippet
# }


# exports {
snippet export
export $1
endsnippet
# }

# other {
snippet export{
export { $1 }
endsnippet
# }
